body {
    display: flex;
    flex-direction : column;
    align-items: center;
    gap: 10px;
    background-color: #1f2937;
}

#controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

button {
  padding: 10px;
  border: 1px solid lightblue;
  border-radius: 20px;
  background-color: #3b82f6;
  color: white;
  width: 150px;
}

:root {
    --container-size: 800px;
}

#container {
    display: flex;
    width: var(--container-size);
    height: var(--container-size);
    background-color: gray;    
    justify-content: space-around;
    flex-wrap: wrap;
}

.cell { 
    border: 1px solid black;
    font-size: 5px;
    background-color: white;
    justify-content: center;
    display: flex;
    flex: 0;
    aspect-ratio: 1 / 1;
    align-items: stretch ;
    box-sizing: border-box;
}

.cell:before {
  content: '';
  display: table;
  padding-top: 100%;
}
