body {
    display: flex;
    flex-direction : column;
}

:root {
    --container-size: 960px;
}

#container {
    display: flex;
    width: var(--container-size);
    height: var(--container-size);
    background-color: gray;    
    justify-content: space-around;
    flex-wrap: wrap;
}

.cell { 
    border: 1px solid black;
    font-size: 5px;
    background-color: white;
    justify-content: center;
    display: flex;
    flex: 0;
    aspect-ratio: 1 / 1;
    align-items: stretch ;
    box-sizing: border-box;
}

.cell:before {
  content: '';
  display: table;
  padding-top: 100%;
}
